<% flash.each do |type, message| %>
  <% classes = case type.to_sym
     when :notice
       "border-semantic-success/30 bg-semantic-success-bg text-semantic-success"
     when :alert, :error
       "border-semantic-danger/30 bg-semantic-danger-bg text-semantic-danger"
     else
       "border-semantic-neutral/30 bg-semantic-neutral-bg text-semantic-neutral"
     end %>
  <div class="mb-6 rounded-card border px-4 py-3 text-body-sm <%= classes %>">
    <%= message %>
  </div>
<% end %>
