---
http_interactions:
- request:
    method: post
    uri: https://api.apify.com/v2/acts/apify~instagram-profile-scraper/runs
    body:
      encoding: UTF-8
      string: '{"usernames":["curtbercht"],"resultsLimit":10}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <APIFY_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '400'
      Location:
      - https://api.apify.com/v2/actor-runs/Pmjq9saH0NE6YnytB
    body:
      encoding: UTF-8
      string: '{"data":{"id":"Pmjq9saH0NE6YnytB","actId":"dSCLg0C3YEZ83HzYX","userId":"rGER0VUCqRmpW8U7x","startedAt":"2026-04-18T22:57:42.827Z","finishedAt":null,"status":"READY","meta":{"origin":"API","userAgent":"Ruby"},"stats":{"inputBodyLen":74,"migrationCount":0,"rebootCount":0,"restartCount":0,"resurrectCount":0,"computeUnits":0},"options":{"build":"latest","timeoutSecs":30000,"memoryMbytes":1024,"maxTotalChargeUsd":4.937796,"diskMbytes":2048},"buildId":"KZcY6FSY9nSjIBUQ3","defaultKeyValueStoreId":"NQcJmP9ZLgV3x9VkW","defaultDatasetId":"fCUnYA9q34XT8rsvi","defaultRequestQueueId":"bQpJaKNigGTdXOoUy","storageIds":{"keyValueStores":{"default":"NQcJmP9ZLgV3x9VkW"},"datasets":{"default":"fCUnYA9q34XT8rsvi"},"requestQueues":{"default":"bQpJaKNigGTdXOoUy"}},"pricingInfo":{"minimalMaxTotalChargeUsd":0.0026,"pricingModel":"PAY_PER_EVENT","isPriceChangeNotificationSuppressed":true,"createdAt":"2026-02-17T17:10:00.438Z","startedAt":"2026-02-17T17:10:00.438Z","apifyMarginPercentage":0.2,"pricingPerEvent":{"actorChargeEvents":{"profile":{"eventTitle":"Profile","eventDescription":"Each
        profile written to the dataset.","isOneTimeEvent":false,"isPrimaryEvent":true,"eventPriceUsd":0.0026},"about-account":{"eventTitle":"Add-on:
        About account","eventDescription":"Extra cost per profile scraped with account
        information. This includes the date joined and the country of the account.
        Be aware that the county is scraped only if the user filled in this information.","isOneTimeEvent":false,"eventPriceUsd":0.007}}}},"chargedEventCounts":{"profile":0,"about-account":0},"platformUsageBillingModel":"DEVELOPER","accountedChargedEventCounts":{"profile":0,"about-account":0},"generalAccess":"FOLLOW_USER_SETTING","buildNumber":"0.0.424","containerUrl":"https://o4alqoc7kzsf.runs.apify.net","usageTotalUsd":0}}'
  recorded_at: Sat, 18 Apr 2026 22:57:43 GMT
- request:
    method: get
    uri: https://api.apify.com/v2/actor-runs/Pmjq9saH0NE6YnytB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <APIFY_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"Pmjq9saH0NE6YnytB","actId":"dSCLg0C3YEZ83HzYX","userId":"rGER0VUCqRmpW8U7x","startedAt":"2026-04-18T22:57:42.827Z","finishedAt":null,"status":"RUNNING","meta":{"origin":"API","userAgent":"Ruby"},"stats":{"inputBodyLen":74,"migrationCount":0,"rebootCount":0,"restartCount":0,"durationMillis":567,"resurrectCount":0,"runTimeSecs":0.567,"metamorph":0,"computeUnits":0.0001575,"memAvgBytes":33177600,"memMaxBytes":33177600,"memCurrentBytes":33177600,"cpuAvgUsage":0,"cpuMaxUsage":0,"cpuCurrentUsage":0,"netRxBytes":548,"netTxBytes":138},"options":{"build":"latest","timeoutSecs":30000,"memoryMbytes":1024,"maxTotalChargeUsd":4.937796,"maxItems":null,"diskMbytes":2048},"buildId":"KZcY6FSY9nSjIBUQ3","defaultKeyValueStoreId":"NQcJmP9ZLgV3x9VkW","defaultDatasetId":"fCUnYA9q34XT8rsvi","defaultRequestQueueId":"bQpJaKNigGTdXOoUy","storageIds":{"keyValueStores":{"default":"NQcJmP9ZLgV3x9VkW"},"datasets":{"default":"fCUnYA9q34XT8rsvi"},"requestQueues":{"default":"bQpJaKNigGTdXOoUy"}},"pricingInfo":{"minimalMaxTotalChargeUsd":0.0026,"pricingModel":"PAY_PER_EVENT","isPriceChangeNotificationSuppressed":true,"createdAt":"2026-02-17T17:10:00.438Z","startedAt":"2026-02-17T17:10:00.438Z","apifyMarginPercentage":0.2,"pricingPerEvent":{"actorChargeEvents":{"profile":{"eventTitle":"Profile","eventDescription":"Each
        profile written to the dataset.","isOneTimeEvent":false,"isPrimaryEvent":true,"eventPriceUsd":0.0026},"about-account":{"eventTitle":"Add-on:
        About account","eventDescription":"Extra cost per profile scraped with account
        information. This includes the date joined and the country of the account.
        Be aware that the county is scraped only if the user filled in this information.","isOneTimeEvent":false,"eventPriceUsd":0.007}}}},"chargedEventCounts":{"profile":0,"about-account":0},"platformUsageBillingModel":"DEVELOPER","accountedChargedEventCounts":{"profile":0,"about-account":0},"generalAccess":"FOLLOW_USER_SETTING","buildNumber":"0.0.424","containerUrl":"https://o4alqoc7kzsf.runs.apify.net","usageTotalUsd":0,"consoleUrl":"https://console.apify.com/view/runs/Pmjq9saH0NE6YnytB"}}'
  recorded_at: Sat, 18 Apr 2026 22:57:43 GMT
- request:
    method: get
    uri: https://api.apify.com/v2/actor-runs/Pmjq9saH0NE6YnytB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <APIFY_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"Pmjq9saH0NE6YnytB","actId":"dSCLg0C3YEZ83HzYX","userId":"rGER0VUCqRmpW8U7x","startedAt":"2026-04-18T22:57:42.827Z","finishedAt":null,"status":"RUNNING","statusMessage":"Starting
        the crawler.","isStatusMessageTerminal":null,"meta":{"origin":"API","userAgent":"Ruby"},"stats":{"inputBodyLen":74,"migrationCount":0,"rebootCount":0,"restartCount":0,"durationMillis":5001,"resurrectCount":0,"runTimeSecs":5.001,"metamorph":0,"computeUnits":0.0013891666666666666,"memAvgBytes":45021965.83870955,"memMaxBytes":51126272,"memCurrentBytes":51126272,"cpuAvgUsage":-0.23239910314293868,"cpuMaxUsage":43.96301750150875,"cpuCurrentUsage":0.1986407766990291,"netRxBytes":24051,"netTxBytes":8890},"options":{"build":"latest","timeoutS[...]
- request:
    method: get
    uri: https://api.apify.com/v2/actor-runs/Pmjq9saH0NE6YnytB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <APIFY_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"Pmjq9saH0NE6YnytB","actId":"dSCLg0C3YEZ83HzYX","userId":"rGER0VUCqRmpW8U7x","startedAt":"2026-04-18T22:57:42.827Z","finishedAt":"2026-04-18T22:57:50.303Z","status":"SUCCEEDED","statusMessage":"Scraper
        finished","isStatusMessageTerminal":null,"meta":{"origin":"API","userAgent":"Ruby"},"stats":{"inputBodyLen":74,"migrationCount":0,"rebootCount":0,"restartCount":0,"durationMillis":7360,"resurrectCount":0,"runTimeSecs":7.36,"metamorph":0,"computeUnits":0.0020444444444444447,"memAvgBytes":47176958.62433389,"memMaxBytes":53071872,"memCurrentBytes":0,"cpuAvgUsage":1.2169858198697399,"cpuMaxUsage":43.96301750150875,"cpuCurrentUsage":0,"netRxBytes":96904,"netTxBytes":39474},"options":{"build":"latest","timeoutSecs":30000,"memoryMbytes":1024,"maxTotalChargeUsd":4.937796,"maxItems":null,"diskMbytes":2048},"buildId":"KZcY6FSY9nSjIBUQ3","exitCode":0,"defaultKeyValueStoreId":"NQcJmP9ZLgV3x9VkW","defaultDatasetId":"fCUnYA9q34XT8rsvi","defaultRequestQueueId":"bQpJaKNigGTdXOoUy","storageIds":{"keyValueStores":{"default":"NQcJmP9ZLgV3x9VkW"},"datasets":{"default":"fCUnYA9q34XT8rsvi"},"requestQueues":{"default":"bQpJaKNigGTdXOoUy"}},"pricingInfo":{"minimalMaxTotalChargeUsd":0.0026,"pricingModel":"PAY_PER_EVENT","isPriceChangeNotificationSuppressed":true,"createdAt":"2026-02-17T17:10:00.438Z","startedAt":"2026-02-17T17:10:00.438Z","apifyMarginPercentage":0.2,"pricingPerEvent":{"actorChargeEvents":{"profile":{"eventTitle":"Profile","eventDescription":"Each
        profile written to the dataset.","isOneTimeEvent":false,"isPrimaryEvent":true,"eventPriceUsd":0.0026},"about-account":{"eventTitle":"Add-on:
        About account","eventDescription":"Extra cost per profile scraped with account
        information. This includes the date joined and the country of the account.
        Be aware that the county is scraped only if the user filled in this information.","isOneTimeEvent":false,"eventPriceUsd":0.007}}}},"chargedEventCounts":{"profile":1,"about-account":0},"platformUsageBillingModel":"DEVELOPER","accountedChargedEventCounts":{"profile":0,"about-account":0},"generalAccess":"FOLLOW_USER_SETTING","buildNumber":"0.0.424","containerUrl":"https://o4alqoc7kzsf.runs.apify.net","usageTotalUsd":0,"consoleUrl":"https://console.apify.com/view/runs/Pmjq9saH0NE6YnytB"}}'
  recorded_at: Sat, 18 Apr 2026 22:57:56 GMT
- request:
    method: get
    uri: https://api.apify.com/v2/actor-runs/Pmjq9saH0NE6YnytB/dataset/items?clean=true&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <APIFY_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Apify-Pagination-Total:
      - '1'
      X-Apify-Pagination-Offset:
      - '0'
      X-Apify-Pagination-Count:
      - '1'
      X-Apify-Pagination-Limit:
      - '999999999999'
      X-Apify-Pagination-Desc:
      - 'false'
    body:
      encoding: UTF-8
      string: "[{\"inputUrl\":\"https://www.instagram.com/curtbercht\",\"id\":\"3589260537\",\"username\":\"curtbercht\",\"url\":\"https://www.instagram.com/curtbercht\",\"fullName\":\"REDACTED_FULLNAME\",\"biography\":\"REDACTED_BIO\",\"externalUrls\":[{\"title\":\"Workshop
        7 de maio!\",\"lynx_url\":\"https://l.instagram.com/?u=https%3A%2F%2Fnovomarketingimobiliario.com.br%2F&e=AT4BI_hQVwB8cNnFJUZ_cPQOgIPaqo6_NTlVv-uV_hLhbx38pki4wOG_nBiHxuC-keZXK6jEwQZYnfaaWfclM3a7mNwXWO1w\",\"url\":\"https://novomarketingimobiliario.com.br\",\"link_type\":\"external\"},{\"title\":\"Canal
        do YouTube\",\"lynx_url\":\"https://l.instagram.com/?u=https%3A%2F%2Fcurtbneto.oia.bio%2FMarketingImobiliario&e=AT6LTnp1AU9ageHviaGIVheKwbVbJ5TuKXgvF9OfL64m4x5UehjI1bqyGgXL2mbpCSuKYslRbacRZJO_DKECUh_gvPevTIci\",\"url\":\"https://curtbneto.oia.bio/MarketingImobiliario\",\"link_type\":\"external\"}],\"externalUrl\":\"REDACTED_URL\",\"externalUrlShimmed\":\"https://l.instagram.com/?u=https%3A%2F%2Fnovomarketingimobiliario.com.br%2F&e=AT7l66twaeyPtrw-AGC_48KwRURMrKnB85w6Upt-uq47vXyCTFn9YKDaMjFZEVbPH0o11fXar0nWut8kI0UBfWbR_dp4l68J\",\"followersCount\":12040,\"followsCount\":1496,\"highlightReelCount\":5,\"isBusinessAccount\":false,\"joinedRecently\":false,\"businessCategoryName\":null,\"private\":false,\"verified\":true,\"profilePicUrl\":\"https://scontent-atl3-3.cdninstagram.com/v/t51.2885-19/488159046_970963955211667_4397098420099054456_n.jpg?stp=dst-jpg_e0_s150x150_tt6&efg=eyJ2ZW5jb2RlX3RhZyI6InByb2ZpbGVfcGljLmRqYW5nby40MzEuYzIifQ&_nc_ht=scontent-atl3-3.cdninstagram.com&_nc_cat=107&_nc_oc=Q6cZ2gGjjC4ZnWp1LXrVmuKm68fUW99B3zXNFPVbvRAhaX4G-FnJg6i13QR4mCKoIr5L6wQ&_nc_ohc=o-IpFvO5wc0Q7kNvwFGNmlJ&_nc_gid=Nv3qz5-wdGwOb0hyP9hrWQ&edm=AOQ1c0wBAAAA&ccb=7-5&oh=00_Af2G99SmvVSj0KTP2kwAGyzBGD9ZXfyOEKm1DDtznx8DrA&oe=69E9D62D&_nc_sid=8b3546\",\"profilePicUrlHD\":\"https://scontent-atl3-3.cdninstagram.com/v/t51.2885-19/488159046_970963955211667_4397098420099054456_n.jpg?stp=dst-jpg_s320x320_tt6&efg=eyJ2ZW5jb2RlX3RhZyI6InByb2ZpbGVfcGljLmRqYW5nby40MzEuYzIifQ&_nc_ht=scontent-atl3-3.cdninstagram.com&_nc_cat=107&_nc_oc=Q6cZ2gGjjC4ZnWp1LXrVmuKm68fUW99B3zXNFPVbvRAhaX4G-FnJg6i13QR4mCKoIr5L6wQ&_nc_ohc=o-IpFvO5wc0Q7kNvwFGNmlJ&_nc_gid=Nv3qz5-wdGwOb0hyP9hrWQ&edm=AOQ1c0wBAAAA&ccb=7-5&oh=00_Af0o6yO2_Twq3MosR92SMEBJIHRynAiBL9PZAu4AFd-iKg&oe=69E9D62D&_nc_sid=8b3546\",\"igtvVideoCount\":0,\"relatedProfiles\":[],\"latestIgtvVideos\":[],\"postsCount\":227,\"latestPosts\":[{\"id\":\"3877582849709259605\",\"type\":\"Video\",\"shortCode\":\"DXP8Q64ETtV\",\"caption\":\"O
        cliente decide em 5 segundos se confia em você. Esses são os 7 elementos que
        ele avalia no seu perfil — e a maioria dos corretores erra pelo menos metade
        deles.\\n\\nSalva e arruma um por dia.\\n#marketingimobiliario #corretordeimovéis
        #instagramparacorretores #perfilprofissional #dicasinstagram\",\"hashtags\":[\"marketingimobiliario\",\"corretordeimovéis\",\"instagramparacorretores\",\"perfilprofissional\",\"dicasinstagram\"],\"mentions\":[],\"url\":\"https://www.instagram.com/p/DXP8Q64ETtV/\",\"commentsCount\":0,\"dimensionsHeight\":1136,\"dimensionsWidth\":640,\"displayUrl\":\"https://scontent-atl3-1.cdninstagram.com/v/t51.71878-15/670327919_954584750836035_5061642754083899426_n.jpg?stp=dst-jpg_e15_tt6&_nc_ht=scontent-atl3-1.cdninstagram.com&_nc_cat=103&_nc_oc=Q6cZ2gGjjC4ZnWp1LXrVmuKm68fUW99B3zXNFPVbvRAhaX4G-FnJg6i13QR4mCKoIr5L6wQ&_nc_ohc=KP1QpWsdMu4Q7kNvwGGkwT0&_nc_gid=Nv3qz5-wdGwOb0hyP9hrWQ&edm=AOQ1c0wBAAAA&ccb=7-5&oh=00_Af0vzQ1rzvmTg27KDYHgKQ9hOIoSt2iqMioJ73C6bmugXg&oe=69E9F8B5&_nc_sid=8b3546\",\"images\":[],\"videoUrl\":\"https://scontent-atl3-3.cdninstagram.com/o1/v/t2/f2/m86/AQOZIKl4J7ZrNqJ_1B8GOBPFbpAQcL77mOa-CqPaU3xdJdGt8hAA7F5jPNvDT7DnKIg7_lZ-i2qrG5w3rTZgZ-mYFzOl2WesWpSuEQs.mp4?_nc_cat=109&_nc_sid=5e9851&_nc_ht=scontent-atl3-3.cdninstagram.com&_nc_ohc=5BDxh5k5MAMQ7kNvwFgsgxp&efg=eyJ2ZW5jb2RlX3RhZyI6Inhwdl9wcm9ncmVzc2l2ZS5JTlNUQUdSQU0uQ0xJUFMuQzMuNzIwLmRhc2hfYmFzZWxpbmVfMV92MSIsInhwdl9hc3NldF9pZCI6MTg0NDY0MTk5ODQxMTY1MzgsImFzc2V0X2FnZV9kYXlzIjoxLCJ2aV91c2VjYXNlX2lkIjoxMDA5OSwiZHVyYXRpb25fcyI6NjcsInVybGdlbl9zb3VyY2UiOiJ3d3cifQ%3D%3D&ccb=17-1&vs=22014e9224fa022b&_nc_vs=HBksFQIYUmlnX3hwdl9yZWVsc19wZXJtYW5lbnRfc3JfcHJvZC81NzRGODc4MzdEQzkyNUEwMDBBNDBCMUMxNzcwNEFBRV92aWRlb19kYXNoaW5pdC5tcDQVAALIARIAFQIYUWlnX3hwdl9wbGFjZW1lbnRfcGVybWFuZW50X3YyLzQ4NDhCRkY0RDlCNEY0QzVBRUQ1Qzk3MDIzQjJFM0E1X2F1ZGlvX2Rhc2hpbml0Lm1wNBUCAsgBEgAoABgAGwKIB3VzZV9vaWwBMRJwcm9ncmVzc2l2ZV9yZWNpcGUBMRUAACb0rL_o-rrEQRUCKAJDMywXQFDmZmZmZmYYEmRhc2hfYmFzZWxpbmVfMV92MREAdf4HZeadAQA&_nc_gid=Nv3qz5-wdGwOb0hyP9hrWQ&_nc_zt=28&_nc_ss=7a3ba&oh=00_Af3XN3uPQOOesgXMh72Jryz-g9vOSsjQIVz2uMMshr6buA&oe=69E5E506\",\"alt\":null,\"likesCount\":21,\"videoViewCount\":146,\"timestamp\":\"2026-04-17T22:12:37.000Z\",\"childPosts\":[],\"ownerUsername\":\"curtbercht\",\"ownerId\":\"3589260537\",\"productType\":\"clips\",\"musicInfo\":{\"artist_name\":\"MoodMode\",\"song_name\":\"Born
        To Win\",\"uses_original_audio\":false,\"should_mute_audio\":false,\"should_mute_audio_reason\":\"\",\"audio_id\":\"563916752328170\"},\"isCommentsDisabled\":false},{\"id\":\"3865943923252350504\",\"type\":\"Sidecar\",\"shortCode\":\"DWml4P7CU4o\",\"caption\":\"Arrasta
        e vê o que muda quando a IA trabalha por você. →\\n\\nO Fifty não é mais um
        sistema de cadastro.\\nÉ um copiloto operacional que analisa, prioriza e sugere
        — antes de você precisar pedir.\\n\\nEnquanto você está na rua fechando negócio:\\n\\n✅
        A IA ranqueou os 3 leads certos pro imóvel que você acabou de captar\\n✅ Gerou
        a descrição e a landing page\\n✅ Preparou as abordagens de follow-up\\n✅ Atualizou
        o score de cada lead no seu pipeline\\n\\nVocê só precisa aparecer pro fechamento.\\n\\nPlano
        Founders: R$99/mês para sempre.\\n30 vagas. Sem aumento. Sem pegadinha.\\n\\n\U0001F517
        Garante no link da bio → fifty.com.br\\n\\n#CRMImobiliario #CorretoraDeImoveis
        #IAImobiliaria #TechImob #MercadoImobiliario CorretoraDigital AutomacaoDeVendas
        FiftyApp VendasComIA\",\"hashtags\":[\"CRMImobiliario\",\"CorretoraDeImoveis\",\"IAImobiliaria\",\"TechImob\",\"MercadoImobiliario\"],\"mentions\":[],\"url\":\"https://www.instagram.com/p/DWml4P7CU4o/\",\"commentsCount\":0,\"dimensionsHei[...]
- request:
    method: post
    uri: https://api.apify.com/v2/acts/apify~instagram-post-scraper/runs
    body:
      encoding: UTF-8
      string: '{"username":["curtbercht"],"directUrls":["https://www.instagram.com/p/DXP8Q64ETtV/","https://www.instagram.com/p/DWml4P7CU4o/","https://www.instagram.com/p/DTOD9M1Ed6E/","https://www.instagram.com/p/DRad1CjkX0c/","https://www.instagram.com/p/DQ-jHfrjDRs/","https://www.instagram.com/p/DQsZFvSDPJD/","https://www.instagram.com/p/DQnCPz_EW4A/","https://www.instagram.com/p/DP7NjplkR8C/","https://www.instagram.com/p/DPrg3vVEbCZ/","https://www.instagram.com/p/DPkgs2uDDjg/"],"resultsLimit":10}'
    headers:
      Content-Type:
      - applica[...]
- request:
    method: get
    uri: https://api.apify.com/v2/actor-runs/h7rMZbeTKINiTkvGB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <APIFY_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"h7rMZbeTKINiTkvGB",[...]
[...]
- request:
    method: get
    uri: https://api.apify.com/v2/actor-runs/h7rMZbeTKINiTkvGB/dataset/items?clean=true&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <APIFY_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Apify-Pagination-Total:
      - '10'
      X-Apify-Pagination-Offset:
      - '0'
      X-Apify-Pagination-Count:
      - '10'
      X-Apify-Pagination-Limit:
      - '999999999999'
      X-Apify-Pagination-Desc:
      - 'false'
    body:
      encoding: UTF-8
      string: "[{\"id\":\"3877582849709259605\",\"type\":\"Video\",\"shortCode\":\"DXP8Q64ETtV\",\"caption\":\"O
        cliente decide em 5 segundos se confia em você. Esses são os 7 elementos que
        ele avalia no seu perfil — e a maioria dos corretores erra pelo menos metade
        deles.\\n\\nSalva e arruma um por dia.\\n#marketingimobiliario #corretordeimovéis
        #instagramparacorretores #perfilprofissional #dicasinstagram\",\"hashtags\":[\"marketingimobiliario\",\"corretordeimovéis\",\"instagramparacorretores\",\"perfilprofissional\",\"dicasinstagram\"],\"mentions\":[],\"url\":\"https://www.instagram.com/p/DXP8Q64ETtV/\",\"commentsCount\":0,\"firstComment\":\"\",\"latestComments\":[],\"dimensionsHeight\":1136,\"dimensionsWidth\":640,\"displayUrl\":\"https://scontent-iad3-2.cdninstagram.com/v/t51.71878-15/670327919_954584750836035_5061642754083899426_n.jpg?stp=dst-jpg_e15_tt6&_nc_ht=scontent-iad3-2.cdninstagram.com&_nc_cat=103&_nc_oc=Q6cZ2gGW22JNUI5SzzepFJiI30krGRNrh5UIlhZQj03YFKakRcUQjQf0ClbIIaWeO5MJVeo&_nc_ohc=KP1QpWsdMu4Q7kNvwHM4J74&_nc_gid=yXwHkC7APr2pDVsSHisfGw&edm=APs17CUBAAAA&ccb=7-5&oh=00_Af24YkGJZ3TNE7uoRQohj4Q5g8yReEu3QToKhefIv9HEow&oe=69E9F8B5&_nc_sid=10d13b\",\"images\":[],\"videoUrl\":\"https://scontent-iad6-1.cdninstagram.com/o1/v/t16/f2/m86/AQOZIKl4J7ZrNqJ_1B8GOBPFbpAQcL77mOa-CqPaU3xdJdGt8hAA7F5jPNvDT7DnKIg7_lZ-i2qrG5w3rTZgZ-mYFzOl2WesWpSuEQs.mp4?stp=dst-mp4&efg=eyJxZV9ncm91cHMiOiJbXCJpZ193ZWJfZGVsaXZlcnlfdnRzX290ZlwiXSIsInZlbmNvZGVfdGFnIjoidnRzX3ZvZF91cmxnZW4uY2xpcHMuYzIuNzIwLmJhc2VsaW5lIn0&_nc_cat=106&vs=830193289520315_680845562&_nc_vs=HBksFQIYUmlnX3hwdl9yZWVsc19wZXJtYW5lbnRfc3JfcHJvZC81NzRGODc4MzdEQzkyNUEwMDBBNDBCMUMxNzcwNEFBRV92aWRlb19kYXNoaW5pdC5tcDQVAALIARIAFQIYUWlnX3hwdl9wbGFjZW1lbnRfcGVybWFuZW50X3YyLzQ4NDhCRkY0RDlCNEY0QzVBRUQ1Qzk3MDIzQjJFM0E1X2F1ZGlvX2Rhc2hpbml0Lm1wNBUCAsgBEgAoABgAGwAVAAAm9JHR5fq6xEEVAigCQzMsF0BQ5mZmZmZmGBJkYXNoX2Jhc2VsaW5lXzFfdjERAHX%2BB2XmnQEA&_nc_rid=d29161b15a&ccb=9-4&oh=00_Af2lswhf-b-d9oCyeHuL3IDXJ31v3S_0kN0_3IYg0dByDw&oe=69E5E8A3&_nc_sid=10d13b\",\"likesCount\":21,\"videoViewCount\":146,\"timestamp\":\"2026-04-17T22:12:37.000Z\",\"childPosts\":[],\"ownerFullName\":\"REDACTED_FULLNAME\",\"ownerUsername\":\"curtbercht\",\"ownerId\":\"3589260537\",\"productType\":\"clips\",\"isCommentsDisabled\":false,\"inputUrl\":\"https://www.instagram.com/curtbercht\",\"audioUrl\":\"https://scontent-iad3-2.cdninstagram.com/o1/v/t2/f2/m78/AQOSwMYKdcgJY22W7rqKh5IHyVvGlZeyPu6fp8qBMyQg5s9wy7TPYJtHX7AmwhFiwv_Zz_Ycr2jkltEJ0FvRX0W8vvlRZT1dpMDewuo.mp4?_nc_cat=105&_nc_sid=9ca052&_nc_ht=scontent-iad3-2.cdninstagram.com&_nc_ohc=FG-d283zgFIQ7kNvwH9w39c&efg=eyJ2ZW5jb2RlX3RhZyI6ImlnLXhwdmRzLmNsaXBzLmMyLUMzLmRhc2hfbG5faGVhYWNfdmJyM19hdWRpbyIsInZpZGVvX2lkIjpudWxsLCJvaWxfdXJsZ2VuX2FwcF9pZCI6OTM2NjE5NzQzMzkyNDU5LCJjbGllbnRfbmFtZSI6ImlnIiwieHB2X2Fzc2V0X2lkIjoxODQ0NjQxOTk4NDExNjUzOCwiYXNzZXRfYWdlX2RheXMiOjEsInZpX3VzZWNhc2VfaWQiOjEwMDk5LCJkdXJhdGlvbl9zIjo2NywiYml0cmF0ZSI6ODMwNTAsInVybGdlbl9zb3VyY2UiOiJ3d3cifQ%3D%3D&ccb=17-1&_nc_gid=yXwHkC7APr2pDVsSHisfGw&_nc_zt=28&_nc_ss=7a32e&oh=00_Af1EArbS7hS6wU5glm58eUeg1qEsYPZNoKkYv-yrcmQPug&oe=69E5F3EE\",\"alt\":null,\"videoPlayCount\":460,\"videoDuration\":67.615,\"musicInfo\":{\"artist_name\":\"MoodMode\",\"song_name\":\"Born
        To Win\",\"uses_original_audio\":false,\"should_mute_audio\":false,\"should_mute_audio_reason\":\"\",\"audio_id\":\"563916752328170\"}},{\"id\":\"3804996134977527428\",\"type\":\"Video\",\"shortCode\":\"DTOD9M1Ed6E\",\"caption\":\"Sim,
        isso foi IA. Eu me transformei em outra pessoa em segundos.\\n\\nA Runway
        permite que você crie vídeos realistas imitando gestos, expressões faciais
        e até se tornar qualquer personalidade que você quiser.\\n\\nCorretores, imagina
        usar isso para:\\n✅ Criar depoimentos personalizados\\n✅ Testar diferentes
        personas em anúncios\\n✅ Produzir conteúdo sem aparecer sempre\\n\\nQuer o
        tutorial completo?\\nComenta “RUNWAY” que eu te envio no direct!\\n\\n#corretoresdeimoveis
        #videocomia #inteligenciaartificial #marketingimobiliario #ferramentasdeia\",\"hashtags\":[\"corretoresdeimoveis\",\"videocomia\",\"inteligenciaartificial\",\"marketingimobiliario\",\"ferramentasdeia\"],\"mentions\":[],\"url\":\"https://www.instagram.com/p/DTOD9M1Ed6E/\",\"commentsCount\":1270,\"firstComment\":\"Runway\",\"latestComments\":[{\"id\":\"18135833149544324\",\"text\":\"Runway\",\"ownerUsername\":\"chauyesuai\",\"ownerProfilePicUrl\":\"https://scontent-atl3-2.cdninstagram.com/v/t51.2885-19/470043155_435693376262786_3562797946114220580_n.jpg?stp=dst-jpg_s150x150_tt6&efg=eyJ2ZW5jb2RlX3RhZyI6InByb2ZpbGVfcGljLmRqYW5nby44MDAuYzIifQ&_nc_ht=scontent-atl3-2.cdninstagram.com&_nc_cat=102&_nc_oc=Q6cZ2gE6q439IAZo0NDjT88QQPUgUKHhwPtoFLPzF2Cs_h7RPJff28LEEPCHsMO_zbzvm8I&_nc_ohc=5TvrPNzXXPQQ7kNvwEFo-Jl&_nc_gid=2p8Bl34WYvr_XQc2czl8XA&edm=APs17CUBAAAA&ccb=7-5&oh=00_Af3qSDySVQBE0r-OdzpAAMC1UQts7cUgt-XnogUKReu9rg&oe=69E9D423&_nc_sid=10d13b\",\"timestamp\":\"2026-04-18T21:16:03.000Z\",\"repliesCount\":0,\"replies\":[],\"likesCount\":0,\"owner\":{\"id\":\"13226981\",\"is_verified\":false,\"profile_pic_url\":\"https://scontent-atl3-2.cdninstagram.com/v/t51.2885-19/470043155_435693376262786_3562797946114220580_n.jpg?stp=dst-jpg_s150x150_tt6&efg=eyJ2ZW5jb2RlX3RhZyI6InByb2ZpbGVfcGljLmRqYW5nby44MDAuYzIifQ&_nc_ht=scontent-atl3-2.cdninstagram.com&_nc_cat=102&_nc_oc=Q6cZ2gE6q439IAZo0NDjT88QQPUgUKHhwPtoFLPzF2Cs_h7RPJff28LEEPCHsMO_zbzvm8I&_nc_ohc=5TvrPNzXXPQQ7kNvwEFo-Jl&_nc_gid=2p8Bl34WYvr_XQc2czl8XA&edm=APs17CUBAAAA&ccb=7-5&oh=00_Af3qSDySVQBE0r-OdzpAAMC1UQts7cUgt-XnogUKReu9rg&oe=69E9D423&_nc_sid=10d13b\",\"[...]
